<!DOCTYPE html>
<html lang=en-UK>
<head>
  <title>Grace Milton</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <script src="project.py"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="author" content="Grace Milton">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- FIX ALERT -->
<body="home">
  <ul id="nav">
    <li><a class="active" href="index.html#home">Home</a></li>
    <li style="float:right"><a href="#contact">Contact</a></li>
    <li style="float:right"><a href="Grace_Milton_Resume.pdf" target="_blank">CV</a></li>
    <li style="float:right"><a href="#portfolio">Portfolio</a></li>
    <li style="float:right"><a href="#courses">Courses</a></li>
    <li style="float:right"><a href="about.html">About</a></li>
  </ul>
  <br><br>
  <!--<header><img id="profile_photo" src="scotland.jpg" alt="scotland.jpg"></a></header>-->
  <h1 id="name"><abbr title="G$">Greek and Latin Medical Terminology 'R' Us</abbr></h1>
  <p>Find a term, find a meaning, or parse through medical lingo.</p>
  <br>
  <form class="example" action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <br/>
    <a href=# id=test><button class='btn btn-default'>Search Terms</button></a>
    <a href=# id=test><button class='btn btn-default'>Search Definitions</button></a>
  </form>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <footer id="contact">
    <span id="phone number">(248) 331-3781</span>
    <p id="email">gmilton@nd.edu</p>
    <a id="icon" href="https://github.com/gmilton" target="_blank"><i class="fa fa-github"></i></a>
    &nbsp&nbsp&nbsp
    <a href="https://gitlab.com/gmilton" target="_blank"><i class="fa fa-gitlab"></i></a>
    &nbsp&nbsp&nbsp
    <a href="https://facebook.com/grace.milton.98" target="_blank"><i class="fa fa-facebook"></i></a>
    &nbsp&nbsp&nbsp
    <a href="http://jsfiddle.net/user/gmilton/" target="_blank"><i class="fa fa-jsfiddle"></i></a>
    <br>
    <small>Built using <a href="http://fontawesome.io" target="_blank">Font Awesome</a></small>
  </footer>
</body>
</html>
